@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.bg {
  background-repeat: no-repeat repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
}
